// font style variables
// Typography
$base-font: 300 16px 'Open Sans', sans-serif;
// Color
$primary-color-white: white;
$primary-color-grey: #c2c2c2;
$background-color-black: black;
// Screen sizes
$tablet-width: 600px;
$desktop-width: 1000px;